#page-header:not(.full_page) {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
}
#page-header:not(.full_page) #nav {
  background: transparent !important;
}
